db.connectionString=jdbc:mysql://monorail.proxy.rlwy.net:28263/shopping-cart
db.driverName=com.mysql.cj.jdbc.Driver
db.username=root
db.password=SgrcPWcWhPHMacwfBEVwXgVhRwHqfKxJ

mailer.email=your-email@gmail.com
mailer.password=your-gmail-app-password